@page
@model Proiect_Cicioc_Daniela_Naomi.Pages.ClientCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nume_Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nume_Client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.EMail_Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.EMail_Client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Analize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Analize.Denumire_Analiza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Laboratoare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Laboratoare.Adresa_Laborator)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
