@page
@model Proiect_Cicioc_Daniela_Naomi.Pages.ClientCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nume_Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nume_Client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.EMail_Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.EMail_Client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Analize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Analize.Denumire_Analiza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Laboratoare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Laboratoare.Denumire_Laborator)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Laboratoare.Adresa_Laborator)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
